# Ignore test.tf and inventory
test.tf


# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore JSON files
config.json
keys.json
**/config-kuber.json
# Ignore IDE files
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Ignore dump files
*.dump